# OS
.DS_Store

# Frontend
frontend/.next/
frontend/node_modules/
frontend/generated/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Backend
backend/node_modules/
backend/generated/
backend/prisma/dev.db
backend/prisma/dev.db-shm
backend/prisma/dev.db-wal
backend/.env

# Misc
dist/
coverage/
*.db

.vscode